:root {
  --background-white: #fff;
  --primary-red: #ee332c;
  --secondary-black: #222222;
  --gray: #777;
  --gray-light: #e3e3e3;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.all-products-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
  grid-column-gap: 20px;
  grid-row-gap: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* .products__template-content-card:hover .card__hide-content {
  margin-top: 12px;
} */

.products__template-content-card {
  height: auto;
}

/* .card__hide-content {
  top: initial;
  bottom: 0;
  transform: translateY(-12px);
} */

.products__template-content-card:hover .card__hide-content {
  z-index: 1;
}

.new__products-title,
.products-title,
.joysticks-title,
.sounds-title,
.various-title {
  display: none;
  /* max-width: 100%;
  padding: 0 100px; */
}

.all-produtcs__main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-produtcs__main-title h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-red);
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.products-title {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 20px;
}

.all-products {
  padding: 80px 60px;
}

.products__btn-add-products {
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  border: 3px solid var(--primary-red);
  cursor: pointer;
}

.products__btn-add-products h2 {
  color: var(--background-white);
  padding: 8px 18px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.products__btn-add-products:hover {
  background-color: var(--background-white);
  border: 3px solid var(--primary-red);
}

.products__btn-add-products:hover h2 {
  color: var(--primary-red);
}

.new__products-title span,
.products-title span,
.joysticks-title span,
.sounds-title span,
.various-title span {
  display: none;
}

.banner__area {
  min-height: 0;
  padding: 100px 45px;
}

.container__carousel-products-template,
.container__carousel-products-template-consoles,
.container__carousel-products-template-joysticks,
.container__carousel-products-template-sounds,
.container__carousel-products-template-various {
  max-width: 100%;
  padding: 0 100px;
  margin: 0 auto;
}

.products__template-price {
  margin-bottom: 40px;
}

.main-btns-edit-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--gray-light);
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.btn-edit,
.btn-remove {
  color: var(--secondary-black);
  font-size: 20px;
  margin: 0 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-edit:hover,
.btn-remove:hover {
  transform: scale(1.2);
  color: var(--primary-red);
}

.alert__remove-product {
  display: flex;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-color: #e3e3e39c;
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 24px;
  transition: all 0.22s ease-in-out;
}

.alert__remove-product.active {
  transform: scale(1);
}

.alert__remove-product-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: 26rem;
  height: 14rem;
  background-color: var(--background-white);
  border: 1px solid #dadada;
  border-radius: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.151);
  transition: all 0.3s ease-in-out;
}

.fa-circle-exclamation {
  color: #f76466;
  font-size: 2.5rem;
  margin-bottom: 14px;
}

.alert__remove-product-content p {
  font-size: 22px;
  font-weight: bold;
  color: var(--secondary-black);
  margin-bottom: 20px;
}

.alert__remove-product-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alert__remove-product-btns button {
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-remove-product {
  background-color: var(--primary-red);
  color: var(--background-white);
  margin: 8px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn-cancel-remove-product {
  background-color: var(--gray);
  color: var(--background-white);
  margin: 8px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn-cancel-remove-product:hover,
.btn-remove-product:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  transform: scale(1.1);
}
