:root {
  --background-white: #fff;
  --primary-red: #ee332c;
  --secondary-black: #222222;
  --gray: #777;
  --gray-light: #e3e3e3;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}



/*! <--------- Hot Deal Section --------->*/

.hot__deal {
  display: flex;
  width: 100%;
  height: 465px;
  padding: 60px 0;
  background-image: url(../Assets/images/hot-deal/hotdeal-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.hot__deal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.hot__deal-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.text__content-countdown,
.text__content-countdown li {
  list-style: none;
}

.text__content-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.text__content-countdown li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;
  margin: 0 10px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--primary-red);
  text-align: center;
  margin-bottom: 30px;
}

.text__content-countdown li span {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--background-white);
  margin-bottom: 6px;
}

.text__content-countdown li h3 {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 10px;
}

.hot__deal-text-content h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 20px;
}

.hot__deal-text-content h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
}

.btn-buy-now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border-radius: 40px;
  background-color: var(--primary-red);
  color: var(--background-white);
  font-weight: 600;
  font-family: var(--font-poppins);
  margin-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn-buy-now:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
