:root {
    --background-white: #fff;
    --primary-red: #ee332c;
    --secondary-black: #222222;
    --gray: #777;
    --gray-light: #e3e3e3;
    --font-poppins: "Poppins", sans-serif;
    --font-roboto: "Roboto", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }  

/*! <--------- Login Section --------->*/

.login__area {
    padding: 60px 50px;
    width: 34rem;
    height: 100%;
    position: fixed;
    left: -600px;
    top: 0;
    background-color: var(--background-white);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.151);
    z-index: 6;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.35s ease-in-out;
  }
  
  .login__area.active {
    left: 0;
    transition: all 0.35s ease-in-out;
  }

  .login__loading-area {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    background-color: rgba(219, 219, 219, 0.5);
    z-index: 10;
    transform: scale(0);
    position: absolute;
    top: 0;
    transition: all 0.35s ease-in-out;
  }

  .login__loading-area.active {
    transform: scale(1);

  }


  .login__loading-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fa-circle-notch {
    font-size: 3rem;
    color: #f76466;
    animation: fa-spin 1s infinite linear;
  }

  /* .login__loading-content-icon {
    width: 50px;
    height: 50px;
    animation: loading 1s linear infinite;
  } */
  
  .canvas__overlay-blur {
    position: fixed;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #e3e3e39c;
    backdrop-filter: blur(7px);
    z-index: 1;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
  }
  
  .canvas__overlay-blur.active {
    visibility: visible;
    opacity: 1;
    left: 0;
  }
  
  .login__area-content {
    position: relative;
    top: 0;
    left: -700px;
    width: 100%;
    display: flex;
    border-radius: 12px;
    /* overflow-y: scroll; */
    padding: 80px 0 80px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.55s ease-in-out;
  }
  
  .login__area-content.active {
    left: 0;
    transition: all 0.55s ease-in-out;
  }
  
  .login__area-content-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .login__area-content-logo img {
    width: 280px;
  }
  
  .login__area-content-title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--secondary-black);
    margin-bottom: 26px;
  }
  
  .login__area-content-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login__area-content-form input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    background-color: #e3e3e3;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.089);
    padding: 0 10px;
    margin-bottom: 16px;
    border: 2px solid #bebebe;
  }
  
  .login__area-content-form input:focus {
    outline: none;
  }
  
  .login__area-content-form input::placeholder {
    color: var(--gray);
  }
  
  .login__area-content-form button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-top: 40px;
    background-color: var(--primary-red);
    font-family: var(--font-poppins);
    color: var(--background-white);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .login__area-content-form button:hover {
    background-color: #f76466;
    color: var(--background-white);
  }
  
  .form__group {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .error__message {
    display: none;
    color: var(--primary-red);
    font-weight: 500;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .error__message.active {
    display: block;
    opacity: 1;
  }
