:root {
  --background-white: #fff;
  --primary-red: #ee332c;
  --secondary-black: #222222;
  --gray: #777;
  --gray-light: #e3e3e3;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/*todo <--------- Products Area --------->*/

/*! <--------- New Products Section --------->*/

.new__products {
  padding: 40px 10px;
  width: 100%;
  background-color: var(--background-white);
  margin: 0 auto;
}

.products,
.joysticks,
.sounds,
.various {
  padding: 20px 10px;
  width: 100%;
  background-color: var(--background-white);
  margin: 0 auto;
  transition: all 0.2s;
}

/*Controls Section*/

/* .tns-controls {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tns-controls [aria-controls] {
  background-color: var(--secondary-black);
  color: var(--background-white);
  border: none;
  border-radius: 4px;
  width: 44px;
  height: 28px;
  margin: 0 6px;
  transition: all 0.2s;
}

.tns-controls [aria-controls]:hover {
  transform: scale(1.1);
  background-color: var(--primary-red);
} */

.new__products-title,
.products-title,
.joysticks-title,
.sounds-title,
.various-title {
  display: flex;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 1200px;
  position: relative;
  padding: 0 20px;
}

.new__products-title h2,
.products-title h2,
.joysticks-title h2,
.sounds-title h2,
.various-title h2 {
  font-size: 28px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
}

.new__products-title span,
.products-title span,
.joysticks-title span,
.sounds-title span,
.various-title span {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  color: var(--primary-red);
  position: absolute;
  right: 0;
  cursor: pointer;
}

.container__carousel-products-template,
.container__carousel-products-template-consoles,
.container__carousel-products-template-joysticks,
.container__carousel-products-template-sounds,
.container__carousel-products-template-various {
  max-width: 1200px;
  margin: 0 auto;
}

.new-products__carousel-content,
.consoles-products__carousel-content,
.joysticks-products__carousel-content,
.sounds-products__carousel-content,
.various-products__carousel-content {
  display: flex;
  height: 24rem;
  margin: 0 auto;
  margin-bottom: 80px;
}

.products__template-content-card {
  padding: 20px;
  margin: 0 20px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--background-white);
  transition: all 0.2s;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  border: 2px solid rgba(56, 56, 56, 0.13);
  position: relative;
}

.products__template-content-card:hover {
  border-radius: 8px 8px 0 0;
  border: 2px solid var(--gray);
  box-shadow: 0 10px 20px rgba(27, 27, 27, 0.267);
}

.card__hide-content {
  background-color: var(--secondary-black);
  width: 100%;
  z-index: -3;
  position: absolute;
  left: 0;
  bottom: 0;
  top: initial;
  transform: translateY(-12px);
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  transition: all 0.2s;
}

.card__hide-content button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.card__hide-content button:hover {
  transform: scale(1.12);
}

.card__hide-content button:hover span {
  color: rgb(241, 161, 161);
}

.cart-products {
  color: var(--primary-red);
  transition: all 0.2s;
}

.card__hide-content span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  color: var(--background-white);
}

.products__template-content-card:hover .card__hide-content {
  border-radius: 0 0 8px 8px;
  transform: translateY(55px);
}

.products__template-content-card:hover .products__template-image {
  transform: scale(1.1);
}

.products__template-content-card .products__template-image {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.products__template-content-card:hover img {
  transform: scale(1.1);
}

.products__template-content-card img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.products__template-subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-top: 10px;
  margin-bottom: 10px;
}

.products__template-price {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--primary-red);
  margin-bottom: 10px;
}
