@media screen and (max-width: 1170px) {
  .container__carousel-banner {
    max-width: 980px;
  }

  .header__area-content {
    max-width: 960px;
  }

  .new__products,
  .products,
  .joysticks,
  .sounds,
  .various,
  .footer__content,
  .features {
    max-width: 1000px;
  }

  .circle__cartshop {
    width: 38px;
    height: 38px;
  }

  .fa-cart-plus {
    font-size: 18px;
  }

  .banner__area-content-text-title {
    font-size: 40px;
  }

  .products__template-content-card {
    margin: 0 16px;
  }

  .features__content {
    grid-gap: 34px;
  }
}

@media screen and (max-width: 980px) {
  .header__area {
    top: 0;
  }

  .new__products,
  .products,
  .joysticks,
  .sounds,
  .various,
  .footer__content,
  .features {
    max-width: 768px;
  }

  .features__content {
    grid-template-columns: 1fr 1fr;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow-y: hidden;
    padding: 50px 30px 30px 30px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }

  .nav__menu.active {
    top: 0;
    height: 20rem;
    visibility: visible;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.151);
  }

  .nav__menu ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
  }

  .nav__menu ul li,
  .fa-cart-shopping,
  .fa-magnifying-glass,
  .btn-user-container {
    margin: 12px;
  }

  .search__bar {
    width: 100%;
  }

  .nav__burguer {
    width: 30px;
    display: block;
    cursor: pointer;
  }

  .nav__burguer-line-1.active {
    transform: translatey(8px) rotate(135deg);
    background-color: #ee332c;
  }

  .nav__burguer-line-2.active {
    transform: translate(0) rotate(135deg);
    background-color: #ee332c;
  }

  .nav__burguer-line-3.active {
    transform: translatey(-8px) rotate(-135deg);
    background-color: #ee332c;
  }

  .nav__menu-user {
    margin-right: 26px;
  }

  .btn-user-container.active {
    margin-left: 8px;
  }

  .nav__burguer-line-1,
  .nav__burguer-line-2,
  .nav__burguer-line-3 {
    display: block;
    background-color: #222222;
    content: "";
    height: 4px;
    border-radius: 3px;
    margin: 4px 0;
    transition: all 0.5s;
  }

  .container__carousel-banner {
    max-width: 768px;
  }

  .banner__area-content {
    flex-direction: column-reverse;
  }

  .banner__area-content-image,
  .banner__area-content-text {
    width: 100%;
    margin: 20px 0;
  }

  .banner__area-content-text-description {
    color: #222222;
  }

  .login__area {
    border-radius: 0;
    width: 100%;
    left: -80rem;
  }

  .product__description {
    border-radius: 0;
    width: 100%;
    right: -80rem;
  }

  .add-product__area,
  .edit-product__area {
    top: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
    border-radius: 0;
  }

  .product__description-content-add {
    justify-content: space-between;
  }

  .footer {
    padding: 60px 36px;
    height: 44rem;
  }

  .footer__content {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .new-products__carousel-content,
  .consoles-products__carousel-content,
  .joysticks-products__carousel-content,
  .sounds-products__carousel-content,
  .various-products__carousel-content {
    height: 26rem;
  }

  .products-title {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    line-height: 30px;
  }

  .products__btn-add-products {
    width: 12rem;
    margin-bottom: 2rem;
  }

  .all-produtcs__main-title h2 {
    margin-bottom: 3rem;
    text-align: center;
    line-height: 30px;
  }
}

@media screen and (max-width: 480px) {
  .new-products__carousel-content,
  .consoles-products__carousel-content,
  .joysticks-products__carousel-content,
  .sounds-products__carousel-content,
  .various-products__carousel-content {
    height: 32rem;
  }

  #search,
  .icon-search-hide {
    font-size: 16px;
  }

  .nav__logo img {
    width: 84%;
  }

  .nav__menu-user {
    margin-right: 12px;
  }

  .cart-shopping,
  .fa-magnifying-glass,
  .btn-user-container {
    margin: 10px;
    font-size: 12px;
  }

  .btn-user-container {
    width: 24px;
    height: 24px;
  }

  .nav__burguer {
    width: 26px;
  }

  .product__description-btn-close,
  .product__login-btn-close {
    width: 34px;
    height: 34px;
  }

  .product__login-btn-close {
    margin: 0;
  }

  .all-products {
    padding: 80px 30px;
  }

  .login__area-content-title {
    font-size: 18px;
  }

  .description-btn-icon,
  .login-btn-icon {
    font-size: 26px;
  }

  .login__area-content-logo img {
    width: 230px;
  }

  .login__area-content-form input,
  .login__area-content-form button {
    width: 80%;
  }

  .banner__area {
    padding: 132px 26px;
  }

  .features__content {
    grid-template-columns: 1fr;
    grid-gap: 22px;
  }

  .new__products-title,
  .products-title,
  .joysticks-title,
  .sounds-title,
  .various-title {
    justify-content: center;
  }

  .product__description {
    padding: 26px;
  }

  .add-product__area,
  .edit-product__area {
    padding: 30px;
  }

  .add-product__area-content-title,
  .edit-product__area-content-title {
    font-size: 18px;
  }

  .product__description-content-image {
    height: 324px;
  }

  .modal__product-description {
    display: block;
    right: 0;
  }

  .modal__product-description.active {
    right: 0;
  }

  .hot__deal {
    height: 530px;
  }

  .text__content-countdown {
    flex-wrap: wrap;
  }

  .hot__deal-text-content {
    padding: 0 26px;
  }

  .hot__deal-text-content h2 {
    font-size: 26px;
  }

  .hot__deal-text-content h3 {
    font-size: 20px;
  }

  .footer {
    height: 66rem;
  }

  .footer__content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 360px) {
  .banner__area-content-text-title {
    font-size: 33px;
  }

  .login__area-content-logo img {
    width: 200px;
  }

  .login__area-content-form input,
  .login__area-content-form button {
    width: 65%;
  }

  .product__description-content-image {
    height: 237px;
  }

  .new-products__carousel-content,
  .consoles-products__carousel-content,
  .joysticks-products__carousel-content,
  .sounds-products__carousel-content,
  .various-products__carousel-content {
    height: 28rem;
  }

  .footer__content-copyright {
    padding: 30px;
    text-align: center;
  }
}
