:root {
  --background-white: #fff;
  --primary-red: #ee332c;
  --secondary-black: #222222;
  --gray: #777;
  --gray-light: #e3e3e3;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/*! <--------- Banner Section --------->*/

.banner__area {
  background-image: url(../Assets/images/hero/banner-bg-Alura-Geek.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 216px 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*! <--------- Login Section --------->*/

.login__area {
  padding: 60px 50px;
  width: 34rem;
  height: 100%;
  position: fixed;
  left: -600px;
  top: 0;
  background-color: var(--background-white);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.151);
  z-index: 6;
  -webkit-overflow-scrolling: touch;
  border-radius: 30px 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s ease;
}

.login__area.active {
  left: 0;
  transition: all 0.55s ease;
}

.canvas__overlay-blur {
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #e3e3e39c;
  backdrop-filter: blur(7px);
  z-index: 1;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}

.canvas__overlay-blur.active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.login__area-content {
  position: relative;
  top: 0;
  left: -700px;
  width: 100%;
  display: flex;
  border-radius: 12px;
  /* overflow-y: scroll; */
  padding: 80px 0 80px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.login__area-content.active {
  left: 0;
  transition: all 1s ease;
}

.login__area-content-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.login__area-content-logo img {
  width: 280px;
}

.login__area-content-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--secondary-black);
  margin-bottom: 26px;
}

.login__area-content-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__area-content-form input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  background-color: #e3e3e3;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.089);
  padding: 0 10px;
  margin-bottom: 16px;
  border: 2px solid #bebebe;
}

.login__area-content-form input:focus {
  outline: none;
}

.login__area-content-form input::placeholder {
  color: var(--gray);
}

.login__area-content-form button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin-top: 26px;
  background-color: var(--primary-red);
  font-family: var(--font-poppins);
  color: var(--background-white);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login__area-content-form button:hover {
  background-color: #f76466;
  color: var(--background-white);
}

.form__group {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*! <--------- Product Description Section --------->*/

.product__description {
  padding: 40px 50px;
  width: 34rem;
  height: 100%;
  position: fixed;
  right: -600px;
  top: 0;
  background-color: var(--background-white);
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.151);
  z-index: 6;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  border-radius: 30px 0 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.product__description.active {
  right: 0;
  transition: all 0.5s ease;
}

.modal__product-description {
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
  right: -700px;
  transition: all 0.9s ease;
}

.modal__product-description.active {
  right: 0;
  transition: all 0.9s ease;
}

.product__description-btn-close,
.product__login-btn-close {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: var(--primary-red);
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  z-index: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 36px;
  cursor: pointer;
  color: var(--secondary-black);
  transition: all 0.3s ease-in-out;
}

.description-btn-icon,
.login-btn-icon {
  color: var(--background-white);
  font-size: 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product__description-btn-close:hover .description-btn-icon,
.product__login-btn-close:hover .login-btn-icon {
  transform: rotate(180deg);
}

.product__description-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  transition: all 0.3s ease;
  /* margin-top: 40px; */
}

.product__description-content-image {
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}

.product__description-content-image img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--gray);
  margin-bottom: 50px;
}

.product__description-content-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 2rem;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 18px;
}

.product__description-content-price {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-red);
  margin-bottom: 36px;
}

.product__description-content-description {
  font-size: 16px;
  color: var(--secondary-black);
  margin-bottom: 38px;
}

.product__description-content-description h2 {
  font-size: 18px;
  color: var(--secondary-black);
  font-weight: 700;
  font-family: var(--font-poppins);
  margin-bottom: 16px;
}

.product__description-content-add {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 2rem;
  transition: all 0.3s ease;
}

.product__description-content-add-btn {
  margin-right: 60px;
  width: 20rem;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-red);
  font-family: var(--font-poppins);
  color: var(--background-white);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.cart-description {
  margin-right: 12px;
}

.add-favorites {
  font-size: 26px;
  color: var(--gray) !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-favorites.active {
  color: var(--primary-red) !important;
}

.add-favorites.active {
  color: var(--primary-red) !important;
}

.canvas__overlay-blur-product-description {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #e3e3e39c;
  backdrop-filter: blur(7px);
  z-index: 1;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}

.canvas__overlay-blur-product-description.active {
  visibility: visible;
  opacity: 1;
  right: 0;
}

/*! <--------- Header Section --------->*/

.header__area {
  background-color: var(--background-white);
  width: 100%;
  height: 80px;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 40px;
  border-radius: 10px;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.151);
  transition: all 0.3s ease 0s;
}

.search__bar {
  width: 50%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.151);
  background-color: var(--primary-red);
  transition: all 0.3s ease 0s;
}

.search__bar.active {
  height: 65%;
  bottom: -52px;
}

.search__area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.icon-search-hide {
  position: absolute;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--background-white);
  left: 16px;
  transition: all 0.3s ease 0s;
}

.icon-search-hide:hover,
.search__close-btn:hover {
  color: rgb(243, 183, 183);
}

#search {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #e75656;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--background-white);
  border-radius: 6px;
  padding: 0 45px;
  transition: all 0.3s ease 0s;
}

::placeholder {
  color: var(--background-white);
}

.search__close-btn {
  position: absolute;
  font-size: 18px;
  color: var(--background-white);
  right: 20px;
  cursor: pointer;
}

.header__area.active {
  max-width: 100%;
  position: fixed;
  border-radius: 0;
  top: 0;
}

.header__area-content {
  display: flex;
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__menu ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav__menu ul li,
.fa-cart-shopping,
.fa-magnifying-glass,
.fa-user {
  margin-left: 40px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav__menu ul li a {
  color: var(--secondary-black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.fa-cart-shopping:hover,
.fa-magnifying-glass:hover,
.fa-user:hover {
  color: var(--primary-red);
}

.nav__menu ul li a:after,
.new__products-title span:after,
.products-title span:after,
.joysticks-title span:after,
.sounds-title span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -3px;
  content: "";
  display: block;
  height: 2.8px;
  left: 50%;
  position: absolute;
  background: var(--primary-red);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav__menu ul li a:hover:after,
.new__products-title span:hover:after,
.products-title span:hover:after,
.joysticks-title span:hover:after,
.sounds-title span:hover:after {
  width: 100%;
  left: 0;
}

.container__carousel-banner {
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

.banner__carousel-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.banner__area-content {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.banner__area-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 38%;
}

.banner__area-content-text-title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 20px;
}

.banner__area-content-text-description {
  color: var(--gray);
  font-family: var(--font-roboto);
}

.banner-area-content-btn-carshopping {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.banner-area-content-btn-carshopping span {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-left: 10px;
}

.circle__cartshop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.circle__cartshop:hover {
  background-color: #f76466;
}

.fa-cart-plus {
  font-size: 22px;
  color: var(--background-white);
}

.banner__area-content-image {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 54%;
}

.banner__area-content-image img {
  width: 97%;
  height: 100%;
}

/*! <--------- Features Section --------->*/

.features {
  padding: 40px 0;
  width: 100%;
  margin: 0 auto;
}

.feature__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 80px;
}

.features__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.features__content-card {
  height: 150px;
  padding: 26px;
  margin: 0 20px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--background-white);
  border: 1px solid rgba(221, 221, 221, 0.568);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
}

.features__content-card:hover {
  background-color: #fc5f57;
}

.features__content-card:hover .title-card,
.features__content-card:hover .description-card,
.features__content-card:hover .icon-card {
  color: var(--background-white);
}

.fa-truck-fast,
.fa-credit-card,
.fa-headset,
.fa-gift {
  color: var(--primary-red);
  font-size: 30px;
  margin-bottom: 10px;
}

.features__content h3 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 8px;
}

.features__content p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-family: var(--font-roboto);
  color: var(--gray);
  margin-bottom: 10px;
}

/*! <--------- New Products Section --------->*/

.new__products {
  padding: 40px 0;
  width: 100%;
  background-color: var(--background-white);
  margin: 0 auto;
}

.new__products-title,
.products-title,
.joysticks-title,
.sounds-title,
.various-title {
  display: flex;
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 1200px;
  position: relative;
}

.new__products-title h2,
.products-title h2,
.joysticks-title h2,
.sounds-title h2,
.various-title h2 {
  font-size: 28px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
}

.new__products-title span,
.products-title span,
.joysticks-title span,
.sounds-title span,
.various-title span {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  color: var(--primary-red);
  position: absolute;
  right: 0;
  cursor: pointer;
}

.container__carousel-products-template,
.container__carousel-products-template-consoles,
.container__carousel-products-template-joysticks,
.container__carousel-products-template-sounds,
.container__carousel-products-template-various {
  max-width: 1200px;
  margin: 0 auto;
}

.new-products__carousel-content,
.consoles-products__carousel-content,
.joysticks-products__carousel-content,
.sounds-products__carousel-content,
.various-products__carousel-content {
  display: flex;
  height: 24rem;
  margin: 0 auto;
  margin-bottom: 80px;
}

.products__template-content-card {
  padding: 20px;
  margin: 0 20px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--background-white);
  transition: all 0.2s;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  border: 2px solid rgba(56, 56, 56, 0.13);
  position: relative;
}

.products__template-content-card:hover {
  border-radius: 8px 8px 0 0;
  border: 2px solid var(--gray);
  box-shadow: 0 10px 20px rgba(27, 27, 27, 0.267);
}

.card__hide-content {
  background-color: var(--secondary-black);
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  top: 23.8rem;
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.2s;
}

.card__hide-content button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.card__hide-content button:hover {
  transform: scale(1.12);
}

.card__hide-content button:hover span {
  color: rgb(241, 161, 161);
}

.cart-products {
  color: var(--primary-red);
  transition: all 0.2s;
}

.card__hide-content span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  color: var(--background-white);
}

.products__template-content-card:hover .card__hide-content {
  border-radius: 0 0 8px 8px;
  opacity: 1;
  height: 60px;
}

.products__template-content-card:hover .products__template-image {
  transform: scale(1.1);
}

.products__template-content-card .products__template-image {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.products__template-content-card:hover img {
  transform: scale(1.1);
}

.products__template-content-card img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.products__template-subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 10px;
}

.products__template-price {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--primary-red);
  margin-bottom: 10px;
}

/*! <--------- Hot Deal Section --------->*/

.hot__deal {
  display: flex;
  width: 100%;
  height: 465px;
  padding: 60px 0;
  background-image: url(../Assets/images/hot-deal/hotdeal-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.hot__deal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.hot__deal-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.text__content-countdown,
.text__content-countdown li {
  list-style: none;
}

.text__content-countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.text__content-countdown li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;
  margin: 0 10px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: var(--primary-red);
  text-align: center;
  margin-bottom: 30px;
}

.text__content-countdown li span {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--background-white);
  margin-bottom: 6px;
}

.text__content-countdown li h3 {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 10px;
}

.hot__deal-text-content h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
  margin-bottom: 20px;
}

.hot__deal-text-content h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--secondary-black);
}

/*! <--------- Products Section --------->*/

/* Consoles Section */

.products,
.joysticks,
.sounds,
.various {
  padding: 20px 0;
  width: 100%;
  background-color: var(--background-white);
  margin: 0 auto;
}

/*Controls Section*/

/* .tns-controls {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.tns-controls [aria-controls] {
  background-color: var(--secondary-black);
  color: var(--background-white);
  border: none;
  border-radius: 4px;
  width: 44px;
  height: 28px;
  margin: 0 6px;
  transition: all 0.2s;
}

.tns-controls [aria-controls]:hover {
  transform: scale(1.1);
  background-color: var(--primary-red);
} */

/*! <--------- Footer Section --------->*/

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 28rem;
  margin: 0 auto;
  margin-top: 20px;
  border-top: 4px solid var(--primary-red);
  background-color: var(--secondary-black);
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 100%;
  max-width: 1200px;
  line-height: 36px;
  margin: 0 auto;
}

.footer__content-about p {
  line-height: 22px;
  text-align: justify;
  color: var(--gray);
  margin-bottom: 20px;
}

.footer__content a {
  color: var(--gray);
  text-decoration: none;
  transition: all 0.16s;
}

.footer__content a:hover {
  color: var(--primary-red);
}

.footer__content h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--background-white);
  margin-bottom: 24px;
}

.footer__content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.footer__content-social ul {
  list-style: none;
}

.footer__content-social li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
}

.footer__content-social-list h3 {
  color: var(--gray);
}

.footer__content-copyright {
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
  display: flex;
  margin: 0 auto;
}

.footer__content-copyright a,
.fa-heart {
  color: var(--primary-red);
  text-decoration: none;
  transition: all 0.3s;
}

.footer__content-copyright a:hover {
  color: var(--background-white);
}
